<div class="user-section">
  <% @posts.each do |post| %>
  <div class="anasayfa-menu row">
    <div class="col-8">
      <div class="col-9"><h2><%= post.title %></h2></div>
      <div class="col-4"><%= post.slug %></div>
      <% if post.body.nil?  %>
        <div class="col-9">
          <%= post.body %>
        </div>
      <% else %>
        <div class="col-9">
          <%= markdown_to_html(post.body.first(75) + "..." ) %>
        </div>
      <% end %>
      </div>
      <div class="buttons container col-4">
        <%= link_to('All Article...', {:controller => 'yazilar',:action => 'show', :id => post.id}, :class => 'btn btn-primary btn-xl show') %>
      </div>
  </div>
  <hr/>
  <% end %>
</div>
