<h1>Demo#Hello</h1>
<p>Hello hell world HEllo page</p>

<%= 2+2 %>

<br \>

<% 2+2 %>

<%@array.each do |vrb|%>
<%= vrb %>
<%end%>

<br \>
<%= link_to("index page with parameter",{:action => "index",:pages => 12,:od => 43})%>
<br \>

<a href="/demo/index">Index page </a> <br \>
<%= link_to("index page 2",{:action => "index"})%> <br \>

ID: <%= params[:id] %><br \>
ID: <%= @id %> <br \>
page: <%= @page + 2 %> <br \>

<hr \>
<%=params.inspect%>
