<div class='container'>
  <% if @user.any? %>
    <% @user.each do |kullanici| %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Kullanici ID</th>
            <th scope="col">Name</th>
            <th scope="col">Nickname</th>
            <th scope="col">Email</th>
            <th scope="col">Olusturulma</th>
            <th scope="col">Son Giris</th>
            <th scope="col">Aciklama</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= kullanici.id %></th>
            <td><%= kullanici.isim %></td>
            <td><%= kullanici.nickname %></td>
            <td><%= kullanici.email %></td>
            <td><%= kullanici.olusturulma %></td>
            <td><%= kullanici.songiris %></td>
            <td><%= kullanici.aciklama %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
