<!DOCTYPE html>
<html>
  <head>
    <title>Thats My Study of Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=anaglyph">
    <style>
      .head-font {
        font-family: 'font-effect-anaglyph', serif;
        font-size: 24px;
        text-shadow: 4px 4px 4px #aaa;

      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#4d79ff">

    <nav class="navbar navbar-expand-lg navbar-static-top navbar-light bg-primary menu-bosluk head-font">
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse justify-content-md-center " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Ana Sayfa</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/yazilar">Yazilar <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="/hakkimda/show">Hakkimda</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://gitlab.com/rection">Gitlab</a>
          </li>
        </ul>
      </div>
    </nav>
    <p class="login-ismi">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container yazi">
    <%= yield %>
    </div>
  </body>
</html>
